<div>
    <div class="row title-and-button">
        <h2 class="col-xs-8" data-translate="userManagement.home.title">Users</h2>
        <div class="col-xs-4">
            <button class="btn reach-u_orange" ui-sref="user-management.new">
                <span class="glyphicon glyphicon-flash"></span> <span data-translate="userManagement.home.createLabel">Create a new User</span>
            </button>
      </div>
    </div>
    <jhi-alert></jhi-alert>
    <br/>

    <div class="row filterForm">
        <div class="col-sm-11 no-padding">
            <div class="col-md-7 no-padding">
                <div class="form-group col-xs-4">
                    <label data-translate="userManagement.login" for="field_login">Login</label>
                    <input id="field_login" type="text" class="form-control" ng-model="vm.filterParams.login"/>
                </div>
                <div class="form-group col-xs-4">
                    <label data-translate="userManagement.firstName" for="field_firstName">First Name</label>
                    <input id="field_firstName" type="text" class="form-control" ng-model="vm.filterParams.firstName"/>
                </div>
                <div class="form-group col-xs-4">
                    <label data-translate="userManagement.lastName" for="field_lastName">Last Name</label>
                    <input id="field_lastName" type="text" class="form-control" ng-model="vm.filterParams.lastName"/>
                </div>
            </div>
            <div class="col-md-5 no-padding">
                <div class="form-group col-xs-6">
                    <label data-translate="userManagement.profiles" for="field_profiles">Roles</label>
                    <select id="field_profiles" class="form-control" name="authority" ng-model="vm.filterParams.role"
                            ng-options="authority for authority in vm.authorities">
                        <option value=""></option>
                    </select>
                </div>
                <div class="form-group col-xs-6">
                    <label data-translate="userManagement.manager" for="field_manager">Last Name</label>
                    <input id="field_manager" type="text" class="form-control" ng-model="vm.filterParams.manager"/>
                </div>
            </div>
        </div>
        <div class="col-sm-1 no-padding filterBtn">
            <button class="btn btn-default" type="button" ng-click="vm.filter()">
                <span class="fa fa-filter fa-lg"></span>&nbsp;
                <span class="visible-xs visible-lg" data-translate="global.filter">Filter</span>
            </button>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-striped rows-as-links">
            <thead>
            <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                <th jh-sort-by="login"><span data-translate="userManagement.login">Login</span> <span class="glyphicon glyphicon-sort"></span></th>
                <th jh-sort-by="email"><span data-translate="userManagement.email">Email</span> <span class="glyphicon glyphicon-sort"></span></th>
                <th></th>
                <th><span data-translate="userManagement.profiles">Roles</span></th>
                <th class="hidden-xs hidden-sm"><span data-translate="userManagement.manager">Manager</span></th>
                <th jh-sort-by="createdDate" class="hidden-xs hidden-sm"><span data-translate="userManagement.createdDate">Created Date</span> <span class="glyphicon glyphicon-sort"></span></th>
                <th jh-sort-by="lastModifiedBy" class="hidden-xs"><span data-translate="userManagement.lastModifiedBy">Last Modified By</span> <span class="glyphicon glyphicon-sort"></span></th>
                <th jh-sort-by="lastModifiedDate" class="hidden-xs"><span data-translate="userManagement.lastModifiedDate">Last Modified Date</span> <span class="glyphicon glyphicon-sort"></span></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="user in vm.users track by user.id">
                <td ui-sref="user-management-detail({login:user.login})">{{user.login}}</td>
                <td ui-sref="user-management-detail({login:user.login})">{{user.email}}</td>
                <td>
                    <span class="label label-danger" ng-click="vm.setActive(user, true)" ng-show="!user.activated"
                          data-translate="userManagement.deactivated" style="cursor: pointer;">Deactivated</span>
                    <span class="label label-success" ng-click="vm.setActive(user, false)" ng-show="user.activated"
                          data-translate="userManagement.activated" style="cursor: pointer;">Activated</span>
                </td>
                <td ui-sref="user-management-detail({login:user.login})">
                    <div ng-repeat="authority in user.authorities">
                        <span class="label label-info">{{ authority }}</span>
                    </div>
                </td>
                <td ui-sref="user-management-detail({login:user.login})" class="hidden-xs hidden-sm">{{user.manager.login}}</td>
                <td ui-sref="user-management-detail({login:user.login})" class="hidden-xs hidden-sm">{{user.createdDate | date:'dd/MM/yy HH:mm'}}</td>
                <td ui-sref="user-management-detail({login:user.login})" class="hidden-xs">{{user.lastModifiedBy}}</td>
                <td ui-sref="user-management-detail({login:user.login})" class="hidden-xs">{{user.lastModifiedDate | date:'dd/MM/yy HH:mm'}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                ui-sref="user-management.edit({login:user.login})"
                                class="btn btn-primary btn-sm">
                            <span class="glyphicon glyphicon-pencil"></span>
                            <span class="hidden-xs hidden-sm hidden-md" data-translate="entity.action.edit"></span>
                        </button>
                        <button type="submit"
                                ui-sref="user-management.delete({login:user.login})"
                                class="btn btn-danger btn-sm" ng-disabled="vm.currentAccount.login==user.login">
                            <span class="glyphicon glyphicon-remove-circle"></span>
                            <span class="hidden-xs hidden-sm hidden-md" data-translate="entity.action.delete"></span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
    </div>
</div>
