<nav class="navbar navbar-default" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" ng-click="vm.toggleNavbar()">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <div ng-switch="vm.isAuthenticated()">
                <a class="navbar-brand logo" href="#/" ng-click="vm.collapseNavbar()" ng-switch-when="false">
                    <img class="logo-img" src="content/images/reach-u_logo.gif"/>
                </a>
                <a class="navbar-brand logo" href="#/vacation" ng-click="vm.collapseNavbar()" ng-switch-when="true">
                    <img class="logo-img" src="content/images/reach-u_logo.gif"/>
                </a>
            </div>
        </div>
        <div class="navbar-collapse" uib-collapse="vm.isNavbarCollapsed" ng-switch="vm.isAuthenticated()">
            <ul class="nav navbar-nav navbar-right reach-u_orange">
                <li ui-sref-active="active" ng-switch-when="true">
                    <a ui-sref="vacation">
                        <span class="fa fa-umbrella fa-lg"></span>&nbsp;
                        <span class="hidden-sm" data-translate="global.menu.entities.myVacation">My vacations</span>
                    </a>
                </li>
                <li has-authority="ROLE_MANAGER" ui-sref-active="active" ng-switch-when="true">
                    <a ui-sref="manager">
                        <span class="fa fa-check-square-o fa-lg"></span>&nbsp;
                        <span class="hidden-sm" data-translate="global.menu.entities.confirmationNeeded">Confirmation needed</span>
                    </a>
                </li>
                <li ui-sref-active="active" ng-switch-when="true">
                    <a ui-sref="overview">
                        <span class="fa fa-list-ul fa-lg"></span>&nbsp;
                        <span class="hidden-sm" data-translate="global.menu.entities.vacation">Overview</span>
                    </a>
                </li>
                <li ui-sref-active="active" ng-switch-when="true">
                    <a ui-sref="settings">
                        <span class="fa fa-cog fa-lg"></span>&nbsp;
                        <span class="hidden-sm" data-translate="global.menu.account.settings">Settings</span>
                    </a>
                </li>
                <li ng-class="{active: vm.$state.includes('admin')}"  ng-switch-when="true" has-authority="ROLE_ADMIN" uib-dropdown class="dropdown pointer">
                    <a class="dropdown-toggle" uib-dropdown-toggle href="" id="admin-menu">
                        <span>
                            <span class="glyphicon glyphicon-tower"></span>
                            <span class="hidden-sm hidden-md" data-translate="global.menu.admin.main">Administration</span>
                            <b class="caret"></b>
                        </span>
                    </a>
                    <ul class="dropdown-menu" uib-dropdown-menu>
                        <li ui-sref-active="active">
                            <a ui-sref="user-management" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-user"></span>&nbsp;
                                <span data-translate="global.menu.admin.userManagement">User management</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="jhi-metrics" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-dashboard"></span>&nbsp;
                                <span data-translate="global.menu.admin.metrics">Metrics</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="jhi-health" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-heart"></span>&nbsp;
                                <span data-translate="global.menu.admin.health">Health</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="jhi-configuration" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-list-alt"></span>&nbsp;
                                <span data-translate="global.menu.admin.configuration">Configuration</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="logs" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-tasks"></span>&nbsp;
                                <span data-translate="global.menu.admin.logs">Logs</span>
                            </a>
                        </li>
                        <li ng-show="vm.swaggerEnabled" ui-sref-active="active">
                            <a ui-sref="docs" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-book"></span>&nbsp;
                                <span data-translate="global.menu.admin.apidocs">API</span>
                            </a>
                        </li>
                        <!-- jhipster-needle-add-element-to-admin-menu - JHipster will add entities to the admin menu here -->
                        <li ng-hide="vm.inProduction">
                            <a href='/h2-console' target="_tab" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-hdd"></span>&nbsp;
                                <span data-translate="global.menu.admin.database">Database</span>
                            </a>
                        </li>
                    </ul>
                </li>

                <li ui-sref-active="active" ng-switch-when="true">
                    <a href="" ng-click="vm.logout()" id="logout2">
                        <span class="glyphicon glyphicon-log-out"></span>&nbsp;
                        <span class="hidden-sm" data-translate="global.menu.account.logout">Sign out</span>
                    </a>
                </li>

            </ul>
        </div>
    </div>
</nav>
