body {
  background: #FAFAFA;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333; }

@media (min-width: 768px) and (max-width: 991px) {
  .container {
    width: 770px; } }

/* ==========================================================================
Hide ng-cloak on page load, https://docs.angularjs.org/api/ng/directive/ngCloak
========================================================================== */
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important; }

/* ==========================================================================
Version number in navbar
========================================================================== */
.navbar-version {
  font-size: 10px;
  color: #ccc; }

/* ==========================================================================
Browser Upgrade Prompt
========================================================================== */
.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0; }

/* ==========================================================================
Logo styles
========================================================================== */
.navbar-brand.logo {
  padding: 5px 15px; }
  .navbar-brand.logo .logo-img {
    height: 45px;
    display: inline-block; }

.navbar-brand span {
  color: #555;
  font-size: 24px; }

@media (min-width: 768px) {
  .navbar > .container .navbar-brand.logo {
    margin-left: 0px; } }

/* ==========================================================================
Main page styles
========================================================================== */
/* ==========================================================================
Generic styles
========================================================================== */
.error {
  color: white;
  background-color: red; }

.pad {
  padding: 10px; }

.break {
  white-space: normal;
  word-break: break-all; }

.voffset {
  margin-top: 2px; }

.voffset1 {
  margin-top: 5px; }

.voffset2 {
  margin-top: 10px; }

.voffset3 {
  margin-top: 15px; }

.voffset4 {
  margin-top: 30px; }

.voffset5 {
  margin-top: 40px; }

.voffset6 {
  margin-top: 60px; }

.voffset7 {
  margin-top: 80px; }

.voffset8 {
  margin-top: 100px; }

.voffset9 {
  margin-top: 150px; }

.readonly {
  background-color: #eee;
  opacity: 1; }

/* ==========================================================================
make sure browsers use the pointer cursor for anchors, even with no href
========================================================================== */
a:hover {
  cursor: pointer; }

.hand {
  cursor: pointer; }

/* ==========================================================================
Metrics and Health styles
========================================================================== */
#threadDump .popover, #healthCheck .popover {
  top: inherit;
  display: block;
  font-size: 10px;
  max-width: 1024px; }

#healthCheck .popover {
  margin-left: -50px; }

.health-details {
  min-width: 400px; }

/* ==========================================================================
start Password strength bar style
========================================================================== */
ul#strength {
  display: inline;
  list-style: none;
  margin: 0;
  margin-left: 15px;
  padding: 0;
  vertical-align: 2px; }

.point {
  background: #DDD;
  border-radius: 2px;
  display: inline-block;
  height: 5px;
  margin-right: 1px;
  width: 20px; }
  .point:last {
    margin: 0 !important; }

/* ==========================================================================
Custom alerts for notification
========================================================================== */
.alerts .alert {
  text-overflow: ellipsis; }
  .alerts .alert:focus {
    outline: none; }
  .alerts .alert pre {
    background: none;
    border: none;
    font: inherit;
    color: inherit;
    padding: 0;
    margin: 0; }
  .alerts .alert .popover pre {
    font-size: 10px; }

.alerts .toast {
  position: fixed;
  width: 100%; }
  .alerts .toast.left {
    left: 5px; }
  .alerts .toast.right {
    right: 5px; }
  .alerts .toast.top {
    top: 55px; }
  .alerts .toast.bottom {
    bottom: 55px; }

@media screen and (min-width: 480px) {
  .alerts .toast {
    width: 50%; } }

/* ==========================================================================
entity tables helpers
========================================================================== */
/* Remove Bootstrap padding from the element
   http://stackoverflow.com/questions/19562903/remove-padding-from-columns-in-bootstrap-3 */
.no-padding-left {
  padding-left: 0 !important; }

.no-padding-right {
  padding-right: 0 !important; }

.no-padding-top {
  padding-top: 0 !important; }

.no-padding-bottom {
  padding-bottom: 0 !important; }

.no-padding {
  padding: 0 !important; }

/* bootstrap 3 input-group 100% width
   http://stackoverflow.com/questions/23436430/bootstrap-3-input-group-100-width */
.width-min {
  width: 1% !important; }

/* Makes toolbar not wrap on smaller screens
   http://www.sketchingwithcss.com/samplechapter/cheatsheet.html#right */
.flex-btn-group-container {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: flex-end;
  justify-content: flex-end; }

@media screen and (max-width: 767px) {
  .jh-table {
    margin-top: 20px; } }

.jh-table > tbody > tr > td {
  /* Align text in td verifically (top aligned by Bootstrap) */
  vertical-align: middle; }

.jh-table > thead > tr > th > .glyphicon-sort, .jh-table > thead > tr > th > .glyphicon-sort-by-attributes, .jh-table > thead > tr > th > .glyphicon-sort-by-attributes-alt {
  /* less visible sorting icons */
  opacity: 0.5; }
  .jh-table > thead > tr > th > .glyphicon-sort:hover, .jh-table > thead > tr > th > .glyphicon-sort-by-attributes:hover, .jh-table > thead > tr > th > .glyphicon-sort-by-attributes-alt:hover {
    /* full visible sorting icons and pointer when mouse is over them */
    opacity: 1;
    cursor: pointer; }

/* ==========================================================================
entity detail page css
========================================================================== */
.dl-horizontal.jh-entity-details > dd {
  margin-bottom: 15px; }

@media screen and (min-width: 768px) {
  .dl-horizontal.jh-entity-details > dt {
    margin-bottom: 15px; }
  .dl-horizontal.jh-entity-details > dd {
    border-bottom: 1px solid #eee;
    padding-left: 200px;
    margin-left: 0; }
  .dl-horizontal dt {
    width: 180px; }
  .dl-horizontal dd {
    margin-left: 200px; } }

/* ==========================================================================
ui bootstrap tweaks
========================================================================== */
.nav, .pagination, .carousel, .panel-title a {
  cursor: pointer; }

.datetime-picker-dropdown > li.date-picker-menu div > table .btn-default,
.uib-datepicker-popup > li > div.uib-datepicker > table .btn-default {
  border: 0; }

.datetime-picker-dropdown > li.date-picker-menu div > table:focus,
.uib-datepicker-popup > li > div.uib-datepicker > table:focus {
  outline: none; }

button.reach-u_orange {
  background-color: #F58B1B;
  border-color: #F47B20;
  color: #FFF; }
  button.reach-u_orange:hover, button.reach-u_orange:active, button.reach-u_orange:focus {
    color: #FFF;
    background-color: #F47B20; }

h1, h2 {
  color: #F47B20; }

.well {
  border: none;
  background: none;
  box-shadow: none;
  -webkit-box-shadow: none; }

@media screen and (max-width: 767px) {
  .table-responsive {
    border: none; } }

.table-striped > thead > tr {
  background-color: #F5F5F5; }

.table-striped > tbody > tr:nth-of-type(even) {
  background-color: #F5F5F5; }

table.rows-as-links tbody tr:hover {
  background-color: #EEE;
  cursor: pointer; }

.title-and-button div {
  margin-top: 20px;
  margin-bottom: 10px; }
  .title-and-button div button {
    float: right; }

.navbar-default {
  background-color: transparent; }

nav.navbar-default ul.navbar-nav.reach-u_orange > li.active > a {
  background-color: transparent; }
  nav.navbar-default ul.navbar-nav.reach-u_orange > li.active > a ::after {
    height: 5px;
    content: '';
    position: absolute;
    bottom: 4px;
    left: 12px;
    right: 12px;
    background-color: #F47B20; }

.pagination .active a, .pagination .active a:hover {
  color: #333;
  background-color: #F5F5F5;
  border-color: #DDD; }

.pagination li a, .pagination li span {
  color: #555; }

#home h1 {
  text-align: center;
  margin-bottom: 20px; }

#home input#username, #home input#password {
  border: none;
  border-radius: 0;
  border-bottom: 1px solid #999;
  box-shadow: none;
  background: transparent;
  height: 45px;
  outline: none; }

.filterForm {
  padding-bottom: 10px; }
  .filterForm .filterBtn {
    line-height: 78px; }
    @media (min-width: 1200px) {
      .filterForm .filterBtn .visible-lg {
        display: inline !important; } }
    @media (max-width: 767px) {
      .filterForm .filterBtn {
        float: right;
        margin-right: 16px; }
        .filterForm .filterBtn .visible-xs {
          display: inline !important; } }

.paidDays {
  float: right;
  text-align: center; }
  @media (min-width: 768px) {
    .paidDays {
      border-width: 0px 0 30px 2px;
      border-style: solid;
      -webkit-border-image: -webkit-gradient(linear, 0 0, 0 100%, from(black), to(transparent)) 1 100%;
      -webkit-border-image: -webkit-linear-gradient(black, transparent) 1 100%;
      -moz-border-image: -moz-linear-gradient(black, transparent) 1 100%;
      -o-border-image: -o-linear-gradient(black, transparent) 1 100%;
      border-image: linear-gradient(to bottom, black, transparent) 50 100%; } }
  @media (max-width: 767px) {
    .paidDays {
      float: none !important; }
      .paidDays h3:first-of-type {
        margin-top: 0; } }
  .paidDays span {
    font-size: 24px;
    font-weight: bold;
    line-height: 1.1; }

footer {
  width: 100%;
  height: 40px;
  background: #D2D2D2;
  /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(rgba(250, 250, 250, 0.9), #D2D2D2);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(rgba(250, 250, 250, 0.9), #D2D2D2);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(rgba(250, 250, 250, 0.9), #D2D2D2);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(rgba(250, 250, 250, 0.9), #D2D2D2);
  /* Standard syntax */ }
  footer .container {
    padding: 0 38px; }
    footer .container .text-muted {
      margin-top: 10px;
      display: inline-block; }
    footer .container .right {
      float: right; }

@media screen and (min-width: 768px) {
  .dl-horizontal.jh-entity-details {
    margin-bottom: -15px; }
    .dl-horizontal.jh-entity-details > dd:last-of-type {
      border-bottom: none;
      margin-bottom: 0; } }

.showMore > .toggle {
  outline: none;
  color: #777; }

.input-group-btn:last-child > .btn {
  padding-bottom: 7px; }

.uib-datepicker-popup.dropdown-menu .national-holiday .btn {
  color: red;
  font-weight: bold; }

tr.red_highlight {
  color: red; }
