<div>
    <h2 data-translate="vacationTrackerApp.vacation.managerView.title">Manager overview</h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped rows-as-links">
            <thead>
            <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                <th jh-sort-by="owner.login"><span data-translate="vacationTrackerApp.vacation.owner">Owner</span> <span class="glyphicon glyphicon-sort"></span></th>
                <th jh-sort-by="type"><span data-translate="vacationTrackerApp.vacation.type">Type</span> <span class="glyphicon glyphicon-sort"></span></th>
                <th jh-sort-by="startDate"><span data-translate="vacationTrackerApp.vacation.startDate">Start Date</span> <span class="glyphicon glyphicon-sort"></span></th>
                <th jh-sort-by="endDate"><span data-translate="vacationTrackerApp.vacation.endDate">End Date</span> <span class="glyphicon glyphicon-sort"></span></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="vacation in vm.vacations track by vacation.id">
                <td ui-sref="manager.vacation-detail({id:vacation.id})">{{vacation.owner.login}}</td>
                <td ui-sref="manager.vacation-detail({id:vacation.id})" data-translate="{{'vacationTrackerApp.VacationType.' + vacation.type}}">{{vacation.type}}</td>
                <td ui-sref="manager.vacation-detail({id:vacation.id})">{{vacation.startDate | date:'dd/MM/yyyy'}}</td>
                <td ui-sref="manager.vacation-detail({id:vacation.id})">{{vacation.endDate | date:'dd/MM/yyyy'}}</td>
                <td class="text-right">

                    <div class="btn-group flex-btn-group-container">
                        <button type="button" ng-click="vm.confirm(vacation)"
                                class="btn btn-success btn-sm">
                            <span class="glyphicon glyphicon-ok"></span>
                            <span class="hidden-xs hidden-sm" data-translate="entity.action.confirm"></span>
                        </button>

                        <button type="button" ng-click="vm.reject(vacation)"
                                class="btn btn-danger btn-sm">
                            <span class="glyphicon glyphicon-ban-circle"></span>
                            <span class="hidden-xs hidden-sm" data-translate="entity.action.reject"></span>
                        </button>
                    </div>

                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">

        <div class="info" translate="queryInfo" translate-values="{page: '{{vm.page}}', itemsPerPage: '{{vm.itemsPerPage}}', totalItems:'{{vm.totalItems}}'}"></div>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
    </div>
</div>
