<div>
    <h2 data-translate="vacationTrackerApp.vacation.home.title">Vacations</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="vacation.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span data-translate="vacationTrackerApp.vacation.home.createLabel">
                        Create new Vacation
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id" class="hidden-xs hidden-sm"><span data-translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="stage"><span data-translate="vacationTrackerApp.vacation.stage">Stage</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="type"><span data-translate="vacationTrackerApp.vacation.type">Type</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="payment" class="hidden-xs"><span data-translate="vacationTrackerApp.vacation.payment">Payment</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="startDate"><span data-translate="vacationTrackerApp.vacation.startDate">Start Date</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="endDate"><span data-translate="vacationTrackerApp.vacation.endDate">End Date</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="owner.login" class="hidden-xs hidden-sm"><span data-translate="vacationTrackerApp.vacation.owner">Owner</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="vacation in vm.vacations track by vacation.id" >
                    <td class="hidden-xs hidden-sm"><a ui-sref="vacation-detail({id:vacation.id})">{{vacation.id}}</a></td>
                    <td data-translate="{{'vacationTrackerApp.Stage.' + vacation.stage}}">{{vacation.stage}}</td>
                    <td data-translate="{{'vacationTrackerApp.VacationType.' + vacation.type}}">{{vacation.type}}</td>
                    <td class="hidden-xs" data-translate="{{'vacationTrackerApp.PaymentType.' + vacation.payment}}">{{vacation.payment}}</td>
                    <td>{{vacation.startDate | date:'dd/MM/yyyy'}}</td>
                    <td>{{vacation.endDate | date:'dd/MM/yyyy'}}</td>
                    <td class="hidden-xs hidden-sm">{{vacation.owner.login}}</td>
                    <td class="text-right">

                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="vacation-detail({id:vacation.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm hidden-md" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="vacation.edit({id:vacation.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm hidden-md" data-translate="entity.action.edit"></span>
                            </button>
                            <button ng-show="vacation.stage === 'SAVED'" type="button" ng-click="vm.send(vacation)"
                                    class="btn btn-success btn-sm">
                                <span class="glyphicon glyphicon-send"></span>
                                <span class="hidden-xs hidden-sm hidden-md" data-translate="entity.action.send"></span>
                            </button>
                            <button ng-show="vacation.stage === 'SENT'" type="button" ng-click="vm.confirm(vacation)"
                                    class="btn btn-success btn-sm">
                                <span class="glyphicon glyphicon-ok"></span>
                                <span class="hidden-xs hidden-sm hidden-md" data-translate="entity.action.confirm"></span>
                            </button>
                            <button ng-show="vacation.stage === 'SAVED'" type="submit"
                                    ui-sref="vacation.delete({id:vacation.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm hidden-md" data-translate="entity.action.delete"></span>
                            </button>
                            <button ng-show="vacation.stage !== 'SAVED'" type="submit"
                                    ui-sref="vacation.cancel({id:vacation.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-ban-circle"></span>
                                <span class="hidden-xs hidden-sm hidden-md" data-translate="entity.action.cancelRequest"></span>
                            </button>
                        </div>

                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
    </div>
</div>
