<div>
    <div class="container-fluid">
        <div class="row title-and-button">
            <h2 class="col-xs-8 no-padding-left" data-translate="vacationTrackerApp.vacation.home.title">Your vacation requests</h2>
            <div class="col-xs-4 no-padding-right">
                <button class="btn reach-u_orange" ui-sref="vacation.new">
                    <span class="glyphicon glyphicon-plus"></span>
                    <span data-translate="vacationTrackerApp.vacation.home.createLabel">
                        Create new
                    </span>
                </button>
            </div>
        </div>
    </div>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped rows-as-links">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="startDate"><span data-translate="vacationTrackerApp.vacation.duration">Duration</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="type"><span data-translate="vacationTrackerApp.vacation.type">Type</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="stage"><span data-translate="vacationTrackerApp.vacation.stage">Stage</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="payment" class="hidden-xs"><span data-translate="vacationTrackerApp.vacation.payment">Payment</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="vacation in vm.vacations track by vacation.id">
                    <td ui-sref="vacation-detail({id:vacation.id})">{{vacation.startDate | date:'dd/MM/yyyy'}} - {{vacation.endDate | date:'dd/MM/yyyy'}}</td>
                    <td ui-sref="vacation-detail({id:vacation.id})" data-translate="{{'vacationTrackerApp.VacationType.' + vacation.type}}">{{vacation.type}}</td>
                    <td ui-sref="vacation-detail({id:vacation.id})" data-translate="{{'vacationTrackerApp.Stage.' + vacation.stage}}">{{vacation.stage}}</td>
                    <td ui-sref="vacation-detail({id:vacation.id})" class="hidden-xs" data-translate="{{'vacationTrackerApp.PaymentType.' + vacation.payment}}">{{vacation.payment}}</td>
                    <td class="text-right">

                        <div class="btn-group flex-btn-group-container">
                            <button ng-if="vacation.stage === 'SAVED'" type="submit"
                                    ui-sref="vacation.edit({id:vacation.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.edit"></span>
                            </button>
                            <button ng-if="vacation.stage === 'CONFIRMED' && vacation.type === 'SICK_LEAVE' && vacation.endDate === null" type="submit"
                                    ui-sref="vacation.edit({id:vacation.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.end"></span>
                            </button>
                            <button ng-if="vacation.stage === 'SAVED'" type="button" ng-click="vm.send(vacation)"
                                    class="btn btn-success btn-sm">
                                <span class="glyphicon glyphicon-send"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.send"></span>
                            </button>
                            <button ng-if="vacation.stage === 'SAVED'" type="submit"
                                    ui-sref="vacation.delete({id:vacation.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.delete"></span>
                            </button>
                            <button ng-if="vacation.stage !== 'SAVED'" type="submit"
                                    ui-sref="vacation.cancel({id:vacation.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-ban-circle"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.cancelRequest"></span>
                            </button>
                        </div>

                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
    </div>
</div>
