<div>
    <div class="row title-and-button">
        <h2 class="col-xs-8" data-translate="vacationTrackerApp.vacation.overview.title">Vacations</h2>
        <div class="col-xs-4">
            <button class="btn reach-u_orange" type="button" ng-click="vm.exportFile()">
                <span class="glyphicon glyphicon-download-alt"></span> <span data-translate="vacationTrackerApp.vacation.overview.download"></span>
            </button>
        </div>
    </div>
    <jhi-alert></jhi-alert>
    <br/>

    <form class="row filterForm" ng-submit="vm.filter()">
        <div class="col-sm-11 no-padding">
            <div class="col-md-4 no-padding">
                <div class="form-group col-xs-6">
                    <label data-translate="vacationTrackerApp.vacation.owner" for="field_owner">Vacation requester</label>
                    <input class="form-control" type="text" id="field_owner" ng-model="vm.filterParams.owner">
                </div>
                <div class="form-group col-xs-6">
                    <label data-translate="vacationTrackerApp.vacation.manager" for="field_manager">Manager</label>
                    <select id="field_manager" class="form-control" name="manager" ng-model="vm.filterParams.manager"
                            ng-options="user.login as user.firstName + ' ' + user.lastName for user in vm.managers" submit-on-enter>
                        <option value=""></option>
                    </select>
                </div>
            </div>
            <div class="col-md-8 no-padding">
                <div class="form-group col-xs-4">
                    <label data-translate="vacationTrackerApp.vacation.type" for="field_type">Type</label>
                    <select class="form-control" ng-model="vm.filterParams.type" id="field_type" submit-on-enter>
                        <option value=""></option>
                        <option value="PAID" data-translate="vacationTrackerApp.VacationType.PAID">PAID</option>
                        <option value="UNPAID" data-translate="vacationTrackerApp.VacationType.UNPAID">UNPAID</option>
                        <option value="SICK_LEAVE" data-translate="vacationTrackerApp.VacationType.SICK_LEAVE">SICK_LEAVE</option>
                        <option value="STUDY_LEAVE" data-translate="vacationTrackerApp.VacationType.STUDY_LEAVE">STUDY_LEAVE</option>
                        <option value="PREGNANCY_LEAVE" data-translate="vacationTrackerApp.VacationType.PREGNANCY_LEAVE">PREGNANCY_LEAVE</option>
                        <option value="PARENTAL_LEAVE" data-translate="vacationTrackerApp.VacationType.PARENTAL_LEAVE">PARENTAL_LEAVE</option>
                    </select>
                </div>
                <div class="form-group col-xs-4">
                    <label data-translate="vacationTrackerApp.vacation.from" for="field_from">From</label>
                    <div class="input-group">
                        <input id="field_from" type="text" class="form-control"
                               uib-datepicker-popup="{{'dd/MM/yyyy'}}"
                               ng-model="vm.filterParams.from"
                               is-open="vm.datePickerOpenStatus.from"
                               datepicker-options="vm.dateOptions"
                               show-button-bar="false"/>
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="vm.openCalendar('from')"><i class="glyphicon glyphicon-calendar"></i></button>
                </span>
                    </div>
                </div>
                <div class="form-group col-xs-4">
                    <label data-translate="vacationTrackerApp.vacation.until" for="field_until">Until</label>
                    <div class="input-group">
                        <input id="field_until" type="text" class="form-control"
                               uib-datepicker-popup="{{'dd/MM/yyyy'}}"
                               ng-model="vm.filterParams.until"
                               is-open="vm.datePickerOpenStatus.until"
                               datepicker-options="vm.dateOptions"
                               show-button-bar="false"/>
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="vm.openCalendar('until')"><i class="glyphicon glyphicon-calendar"></i></button>
                </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-1 no-padding filterBtn">
            <button class="btn btn-default" type="submit">
                <span class="fa fa-filter fa-lg"></span>&nbsp;
                <span class="visible-xs visible-lg" data-translate="global.filter">Filter</span>
            </button>
        </div>
    </form>

    <div class="table-responsive">
        <table class="jh-table table table-striped rows-as-links">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th><input type="checkbox" ng-model="vm.selectAll" ng-click="vm.toggle()"></th>
                    <th jh-sort-by="owner.login"><span data-translate="vacationTrackerApp.vacation.owner">Owner</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="type"><span data-translate="vacationTrackerApp.vacation.type">Type</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th has-authority="ROLE_ACCOUNTANT" jh-sort-by="payment"><span data-translate="vacationTrackerApp.vacation.payment">Payment</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="startDate"><span data-translate="vacationTrackerApp.vacation.startDate">Start Date</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="endDate"><span data-translate="vacationTrackerApp.vacation.endDate">End Date</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="stage" class="hidden-xs"><span data-translate="vacationTrackerApp.vacation.stage">Stage</span> <span class="glyphicon glyphicon-sort"></span></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="vacation in vm.vacations track by vacation.id">
                    <td><input type="checkbox" ng-model="vacation.checked"></td>
                    <td ui-sref="overview.vacation-detail({id:vacation.id})">{{vacation.owner.firstName}} {{vacation.owner.lastName}}</td>
                    <td ui-sref="overview.vacation-detail({id:vacation.id})" data-translate="{{'vacationTrackerApp.VacationType.' + vacation.type}}">{{vacation.type}}</td>
                    <td has-authority="ROLE_ACCOUNTANT" ui-sref="overview.vacation-detail({id:vacation.id})" data-translate="{{'vacationTrackerApp.PaymentType.' + vacation.payment}}">{{vacation.payment}}</td>
                    <td ui-sref="overview.vacation-detail({id:vacation.id})">{{vacation.startDate | date:'dd/MM/yyyy'}}</td>
                    <td ui-sref="overview.vacation-detail({id:vacation.id})">{{vacation.endDate | date:'dd/MM/yyyy'}}</td>
                    <td ui-sref="overview.vacation-detail({id:vacation.id})" class="hidden-xs" data-translate="{{'vacationTrackerApp.Stage.' + vacation.stage}}">{{vacation.stage}}</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="text-center">
        <div class="info" translate="queryInfo" translate-values="vm.pageParams"></div>
        <uib-pagination class="pagination-sm" total-items="vm.pageParams.totalItems" ng-model="vm.pageParams.page" ng-change="vm.loadPage()"></uib-pagination>
    </div>
</div>
